---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/api/scores":
    get:
      summary: list scores
      responses:
        '200':
          description: successful
  "/api/scores/{id}":
    parameters:
    - name: id
      in: path
      description: id
      required: true
      schema:
        type: string
    get:
      summary: show score
      responses:
        '200':
          description: successful
        '404':
          description: not found
servers:
- url: https://{defaultHost}
  variables:
    defaultHost:
      default: www.example.com
